* {
    font-family: 'Libre Baskerville', serif;
    background-color: #393e46;
    color: #ffd369;
}

body {
    position: relative;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* Giving room for the Header & Footer */
#content-wrap { 
    padding-bottom:10rem;
    padding-top: 5rem;
}

#top {
    display: flex;
    justify-content: space-between;
    background-color: #222831;
}

#logo p{
    font-size: 3rem;
    background-color: #222831;
}

nav {
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 5rem;
    margin-bottom: 2%;
    align-items: center;

}

nav div {
    background-color: #222831;
}

.navbar { 
    border: 1px solid #ffd369;
    border-radius: 10px;
}

#header {
    width: 90vw;
    height: 40vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 6rem;
}

#gallery {
    width: 90vw;
    height: 80vh;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
}

#gallery a {
    width: 20vw;
    height: 20vw;
    margin: 2%;
}

#gallery img {
    width: 20vw;
    height: 20vw;
    border-radius: 85px;   
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#projects img {
    width: 35vw;
}

#projects div {
    margin: 2%;
}

.title {
    font-size: 2rem;
    text-align: center;
}
.image {
    padding: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 98vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222831 ;
}







