* {
    font-family: 'Libre Baskerville', serif;
    background-color: #393e46;
    color: #ffd369;
}

body {
    position: relative;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* Giving room for the Header & Footer */
#content-wrap { 
    padding-bottom:10rem;
    padding-top: 5rem;
}

#top {
    display: flex;
    justify-content: space-between;
    background-color: #222831;
}

#logo p{
    font-size: 3rem;
    background-color: #222831;
}

nav {
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 5rem;
    margin-bottom: 2%;
    align-items: center;
}

nav div {
    background-color: #222831;
}

.navbar { 
    border: 1px solid #ffd369;
    border-radius: 10px;
}

.navbar:hover {
    scale: 1.125;
    cursor: pointer;
}

#header {
    width: 100vw;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 10vh;
    margin: auto;
    text-align: center;
    transition: color 2s ease;
}

h1:hover {
    color: #222831;;
}

#gallery {
    width: 90vw;
    height: 80vh;
    display: flex;
    margin: 100px auto;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
}

#gallery a {
    width: 20vw;
    height: 20vw;
    margin: 2%;
}

#gallery img {
    width: 20vw;
    height: 20vw;
    border-radius: 85px;
    border: 1px #eeeeee solid;
    box-shadow: 0 12px 12px -6px black;
}

#gallery img:hover{
    box-shadow: 0 12px 18px -10px black;
    border: 5px #eeeeee solid;
    transform: scale(1.025);
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#projects img {
    width: 35vw;
}

#projects div {
    margin: 2%;
}

.title {
    font-size: 2rem;
    text-align: center;
}
.image {
    padding: 10px;
    border: 10px #eeeeee solid;
    
}

#footer {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222831 ;
    border: 1px solid #ffd369;
}

#contact-me {
    border: 1px solid #ffd369;
    border-radius: 10px;
    scale: 2;
}

#contact-me:hover{
    scale: 3;
    cursor: pointer;
}

#contact {
    width: 50vw;
    height: 25vh;
    margin: 15vh auto;
    display: flex;
    flex-direction: column;
    background-color: #222831;
    border: 10px solid #ffd369;
    align-items: center;
    justify-content: space-around;
}

#contact a{
    background-color: #222831;
    font-size: 3vh;
}

#contact p{
    background-color: #222831;
    font-size: 2vh;
}
    
